<br/>

<center>
 <div class="card border-secondary mb-6" style="max-width: 50rem;">
  <div class="card-header">---- Evenement n°<%= @event.id %> ----</div>
    <div class="card-block">
      <p class="card-text">Titre : <%= @event.title %></p>
      <p class="card-text">Description : <%= @event.description %></p>
      <p class="card-text">Date : <%= @event.start_date %></p>
      
      <% if @attendees.include?(current_user) %>
      <%=link_to "Se désinscrire", event_attendance_path(event_id: @event.id), :method => :DELETE, class: "btn btn-sm btn-outline-secondary btn-success" %>
      <% else %>

      <%= form_tag event_attendances_path(@event) do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>Prix: <%= @event.price.to_f/100 %>€</span>
          </label>
        </article>
      
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Paiement sécurisé"
                data-amount=<%= @event.price %>
                data-currency="eur"
                data-label="Payer"
                data-locale="auto"></script>
      <% end %>

      <% end %>
      <%= link_to "Supprimer l'évènement", event_path, :class => "btn btn-sm btn-outline-secondary btn-danger", :data => {:confirm => "Êtes-vous sur?(e)"}, :method => :DELETE %>
      </div>
  </div>
  <div> Il y a <%= @attendees.count %> participant(s) a cet evenement.</div>
</center>